<a href="https://colab.research.google.com/github/Vishita7/Machine-Learning/blob/main/Airline_Passenger_Satisfaction_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project - Airline Passenger Satisfaction Project
####Created By Vishita Yadav

###Introduction
Customer satisfaction is particularly key as it can affect whether a customer is likely to reuse the service and whether they are likely to recommend the service. The passenger is always the best group of clients to the airline as the fare is one of the main revenues. Airline companies are looking to enhance customer satisfaction and increase business performance by reporting and strategizing the factors that influence customer satisfaction levels. Analyzing their feedback would greatly help the airlines understand more what the passenger exactly needs and where they can improve better. Through this project we are analyzing which features contribute most to the levels of customer satisfaction towards the airline. By understanding the satisfaction, the business can seek to improve and ensure future growth.

The objectives of this data analysis are:

Perform EDA between the passenger satisfaction and all other features
Select the best predictive models for predicting passengers’ satisfaction
Evaluate the high correlation factors through the great performance models
Through the use of an extensive passenger satisfaction dataset, we will aim to evaluate factors that affect the overall satisfaction as well aim to understand how predictable the overall level of customer satisfaction is relative to the key data. From the best model, we have observed the following features that contributed the most to the satisfaction levels. 
1. Flight distance
2. Inflight Wi-Fi services
3. Leg room service
4. Inflight entertainment
5. Seat comfort

#Importing Modules

In [ ]:
! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
! pip install markupsafe==2.0.1
! pip show pandas-profiling

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
  Downloading https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
     | 21.9 MB 1.0 MB/s
Requirement already satisfied: joblib~=1.1.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.2.0) (1.1.0)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.2.0) (1.7.3)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.2.0) (1.3.5)
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.2.0) (3.2.2)
Requirement already satisfied: pydantic>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.2.0) (1.8.2)
Collecting PyYAML>=5.0.0
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 4.1 MB/s
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.2.0) (2.11.3)
Collecting visions[type_image_path]==0.7.5
  Downloading visions-0.7.5-py3-none-any.whl (102 kB)
     |████████████████████████████████| 102 kB 45.9 MB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.2.0) (1.21.6)
Collecting htmlmin>=0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.2.0) (0.5.1)
Collecting phik>=0.11.1
  Downloading phik-0.12.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (690 kB)
     |████████████████████████████████| 690 kB 34.6 MB/s
Collecting tangled-up-in-unicode==0.2.0
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
     |████████████████████████████████| 4.7 MB 41.9 MB/s
Collecting requests>=2.24.0
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.1 MB/s
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.2.0) (4.64.0)
Requirement already satisfied: seaborn>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.2.0) (0.11.2)
Collecting multimethod>=1.4
  Downloading multimethod-1.8-py3-none-any.whl (9.8 kB)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling==3.2.0) (2.6.3)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling==3.2.0) (21.4.0)
Collecting imagehash
  Downloading ImageHash-4.2.1.tar.gz (812 kB)
     |████████████████████████████████| 812 kB 9.6 MB/s
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling==3.2.0) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->pandas-profiling==3.2.0) (2.0.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.2.0) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.2.0) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.2.0) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.2.0) (1.4.3)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.2.0->pandas-profiling==3.2.0) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==3.2.0) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.2.0->pandas-profiling==3.2.0) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.2.0) (2.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.2.0) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.2.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.2.0) (2022.6.15)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling==3.2.0) (1.3.0)
Building wheels for collected packages: pandas-profiling, htmlmin, imagehash
  Building wheel for pandas-profiling (setup.py) ... done
  Created wheel for pandas-profiling: filename=pandas_profiling-3.2.0-py2.py3-none-any.whl size=261257 sha256=30118887757097b76ede21e9dab91b7b799e570d88cb92ba805cf863c6576ecc
  Stored in directory: /tmp/pip-ephem-wheel-cache-q8ibk1cj/wheels/cc/d5/09/083fb07c9363a2f45854b0e3a7de7d7c560f07da74b9e9769d
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27098 sha256=cc68e6d736c2f0a3dbddcd5f9681e4cb5978ff2bd5c7e27a463b542c5e447f97
  Stored in directory: /root/.cache/pip/wheels/70/e1/52/5b14d250ba868768823940c3229e9950d201a26d0bd3ee8655
  Building wheel for imagehash (setup.py) ... done
  Created wheel for imagehash: filename=ImageHash-4.2.1-py2.py3-none-any.whl size=295206 sha256=6a5ebd04a129a610f07c4a54793f7c315e92ba5977c5380499f6e409d2740c44
  Stored in directory: /root/.cache/pip/wheels/4c/d5/59/5e3e297533ddb09407769762985d134135064c6831e29a914e
Successfully built pandas-profiling htmlmin imagehash
Installing collected packages: tangled-up-in-unicode, multimethod, visions, imagehash, requests, PyYAML, phik, htmlmin, pandas-profiling
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: PyYAML
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: pandas-profiling
    Found existing installation: pandas-profiling 1.4.1
    Uninstalling pandas-profiling-1.4.1:
      Successfully uninstalled pandas-profiling-1.4.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed PyYAML-6.0 htmlmin-0.1.12 imagehash-4.2.1 multimethod-1.8 pandas-profiling-3.2.0 phik-0.12.2 requests-2.28.1 tangled-up-in-unicode-0.2.0 visions-0.7.5
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: markupsafe==2.0.1 in /usr/local/lib/python3.7/dist-packages (2.0.1)
Name: pandas-profiling
Version: 3.2.0
Summary: Generate profile report for pandas DataFrame
Home-page: https://github.com/pandas-profiling/pandas-profiling
Author: Simon Brugman
Author-email: pandasprofiling@gmail.com
License: MIT
Location: /usr/local/lib/python3.7/dist-packages
Requires: phik, visions, jinja2, multimethod, htmlmin, scipy, missingno, pydantic, tangled-up-in-unicode, tqdm, seaborn, PyYAML, numpy, pandas, requests, matplotlib, joblib
Required-by:

##Mounting the Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import *
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

#Modules used in modeling 

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, f1_score, recall_score, precision_score,r2_score, mean_squared_error,roc_auc_score, plot_roc_curve,plot_confusion_matrix

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.linear_model import Perceptron
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
import xgboost as xgb
import seaborn as sns

In [ ]:
def FitStatCalculation(ModelName,ModelVariable, y_test, y_pred, x_test):
  print('Accuracy of '+ModelName+': %.4f' % accuracy_score(y_test, y_pred))
  print('Misclassification Rate of '+ModelName+': %.4f' % (1-accuracy_score(y_test, y_pred)))
  print('R-square of '+ModelName+': %.4f' % r2_score(y_test, y_pred))
  print('Mean Square Error for '+ModelName+': %.4f' % mean_squared_error(y_test, y_pred))
  print('Root Mean Square Error for '+ModelName+': %.4f'% np.sqrt(mean_squared_error(y_test, y_pred)))
  print(confusion_matrix(y_test,y_pred))
  print(classification_report(y_test,y_pred))
  plot_confusion_matrix(ModelVariable, x_test_std, y_test,cmap=plt.cm.pink, normalize = 'all')
  plot_roc_curve(ModelVariable, x_test_std, y_test)

##Loading the data into Train, test datasets

In [ ]:
train_data = pd.read_csv("/content/drive/Shareddrives/Data Science Using Python/data/train.csv")
test_data = pd.read_csv("/content/drive/Shareddrives/Data Science Using Python/data/test.csv")
train_data.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

#Data Transformation

In [ ]:
# Drop unnecessary columns
train_data.drop(['Unnamed: 0', 'id'], axis=1,inplace=True)
test_data.drop(['Unnamed: 0', 'id'], axis=1,inplace=True)
train_data.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

##Checking for Null values

In [ ]:
train_data.isnull().sum()

Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

##Mean value Imputation

In [ ]:
train_data['Arrival Delay in Minutes'] = train_data['Arrival Delay in Minutes'].fillna(train_data['Arrival Delay in Minutes'].mean())
test_data['Arrival Delay in Minutes'] = test_data['Arrival Delay in Minutes'].fillna(test_data['Arrival Delay in Minutes'].mean())

In [ ]:
train_data.isnull().sum()

##Outliers

In [ ]:
Q1 = train_data.quantile(.25)
Q3 = train_data.quantile(.75)
IQR = Q3-Q1
print(IQR)

Age                                    24.0
Flight Distance                      1329.0
Inflight wifi service                   2.0
Departure/Arrival time convenient       2.0
Ease of Online booking                  2.0
Gate location                           2.0
Food and drink                          2.0
Online boarding                         2.0
Seat comfort                            3.0
Inflight entertainment                  2.0
On-board service                        2.0
Leg room service                        2.0
Baggage handling                        2.0
Checkin service                         1.0
Inflight service                        2.0
Cleanliness                             2.0
Departure Delay in Minutes             12.0
Arrival Delay in Minutes               13.0
dtype: float64

(103904, 23)

In [ ]:
# Removal of outliers from dataset
# if a data point is defined as an outlier, save as true
drop = ((train_data < (Q1 - 1.5 * IQR))
         | (train_data > (Q3 + 1.5 * IQR)))
# remove the outliers        
train_data = train_data[~(drop).any(axis=1)]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  after removing the cwd from sys.path.

In [ ]:
train_data.describe()

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,74931.000000,74931.000000,74931.000000,74931.000000,74931.000000,74931.000000,74931.000000,74931.000000,74931.000000,74931.000000,74931.000000,74931.000000,74931.000000,74931.00000,74931.000000,74931.000000,74931.000000,74931.000000
mean,39.469832,1147.115827,2.752399,3.099652,2.763516,2.963353,3.237792,3.313515,3.499446,3.401169,3.472021,3.394430,3.706623,3.63764,3.729831,3.341301,3.463413,3.534633
std,15.101783,929.339061,1.346820,1.537766,1.404885,1.284912,1.320460,1.354357,1.314857,1.330237,1.263877,1.303823,1.172029,0.98332,1.159913,1.300071,6.740086,6.766589
min,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.00000,0.000000,0.000000,0.000000,0.000000
25%,27.000000,409.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,3.000000,2.000000,3.000000,3.00000,3.000000,2.000000,0.000000,0.000000
50%,40.000000,836.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.00000,4.000000,3.000000,0.000000,0.000000
75%,51.000000,1709.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.00000,5.000000,4.000000,4.000000,4.000000
max,85.000000,3736.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,30.000000,32.000000

In [ ]:
train_data.info()

In [ ]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

#Data Visualization

In [ ]:
import pandas_profiling as pp
profile = pp.ProfileReport(train_data, title = "Exploratory Data Analysis")

In [ ]:
profile.to_notebook_iframe()

In [ ]:
train_data.head()

#Using Labelencoder to encode categorical fields

In [ ]:
#Seggregating numerical and categorical columns
All_columns = train_data.columns
Numerical_Columns=train_data._get_numeric_data().columns
Categorical_Columns= list(set(All_columns)-set(Numerical_Columns))
Categorical_Columns

In [ ]:
# Catergocial columns unique values before Label Encoding
for i in Categorical_Columns:
   print("train_data["+i+"]", train_data[i].unique())
   print("test_data["+i+"]", test_data[i].unique())

In [ ]:
#Label Encoding categorical vairables for ease of modeling
from sklearn import preprocessing
le= preprocessing.LabelEncoder()
for i in Categorical_Columns:
  train_data[i]=le.fit_transform(train_data[i].values)
  test_data[i]=le.fit_transform(test_data[i].values)

In [ ]:
# Catergocial columns unique values before Label Encoding
for i in Categorical_Columns:
  print("train_data["+i+"]", train_data[i].unique())
  print("test_data["+i+"]", train_data[i].unique())
# train_data.head()
# test_data.head()

In [ ]:
#Saving the Cleaned File for reference
train_data.to_csv("/content/drive/Shareddrives/Data Science Using Python/data/airline_cleaned_data.csv")

##Correlation Matrix

In [ ]:
rs = np.random.RandomState(0)
df= train_data.iloc[:,:22].copy()
corr = df.corr()
plt.figure(figsize=(20,11))
sns.heatmap(corr, cmap="Greens",annot=True)
plt.show()

#Feature selection using Chi-Square Test

In [ ]:
x_train = train_data.iloc[:,:22]
y_train = train_data[['satisfaction']]
x_test = test_data.iloc[:,:22]
y_test = test_data[['satisfaction']]
x_train.head()

In [ ]:
mms = MinMaxScaler()
x_train_std = pd.DataFrame(mms.fit_transform(x_train), columns=x_train.columns)
x_test_std = pd.DataFrame(mms.fit_transform(x_test), columns=x_test.columns)
x_train_std.head()

In [ ]:
selector = SelectKBest(chi2, k=10)
selector.fit(x_train_std, y_train)
selector.transform(x_train_std)
BestColumns=x_train_std.columns[selector.get_support(indices=True)].tolist()
x_train_std=x_train_std[BestColumns]
x_test_std=x_test_std[BestColumns]
print("List of highly effective columns", BestColumns)

#Modeling

##Decision Tree

In [ ]:
 #Decision_tree
Dtree = DecisionTreeClassifier(criterion='entropy', random_state=1)
Dtree.fit(x_train_std, y_train)
y_pred = Dtree.predict(x_test_std)
# Fit Statistics for DecisionTree
FitStatCalculation('Decision Tree',Dtree, y_test, y_pred, x_test_std)

## Random Forest

In [ ]:
Rnd_clf = RandomForestClassifier(n_estimators=239, max_leaf_nodes = 16, n_jobs = -1)
Rnd_clf.fit(x_train_std, y_train)
y_pred = Rnd_clf.predict(x_test_std)

# Fit Statistics for RandomForest
FitStatCalculation('Random Forest',Rnd_clf, y_test, y_pred, x_test_std)

##Gradient Boosting

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
gb_Cls = GradientBoostingClassifier(n_estimators=200, max_features=9, max_depth=8, random_state=0)
gb_Cls.fit(x_train_std, y_train)
y_pred = gb_Cls.predict(x_test_std)

# Fit Statistics for Gradient Boosting
FitStatCalculation('Grading Boosting',gb_Cls, y_test, y_pred, x_test_std)

In [ ]:
xgb_Cls = xgb.XGBClassifier(n_estimators=200, max_features=9, max_depth=8, random_state=0)
xgb_Cls.fit(x_train_std, y_train)
y_pred = xgb_Cls.predict(x_test_std)

# Fit Statistics for Gradient Boosting
FitStatCalculation('Extreme Grading Boosting',xgb_Cls, y_test, y_pred, x_test_std)

xgb.plot_importance(booster=xgb_Cls)
plt.show()

## Logistic Regression

In [ ]:
# Training ML logistic regression model on training data set
lr = LogisticRegression(C=1000.0, random_state=0)
lr.fit(x_train_std, y_train)
# Validating the ML on test data set and finding the accuracy score
y_pred = lr.predict(x_test_std)

# Fit Statistics for Logistic Regression
FitStatCalculation('Logistic Regression',lr, y_test, y_pred, x_test_std)

## SVM:  Support Vector Machines

In [ ]:
# Training ML on SVC of training data set
svm = SVC(kernel='linear', C=1.0, random_state=0)
svm.fit(x_train_std, y_train)
# Validating the ML on test data set and finding its accuracy
y_pred = svm.predict(x_test_std)

# Fit Statistics for Logistic Regression
FitStatCalculation('SVC',svm, y_test, y_pred, x_test_std)

## Perceptron

In [ ]:
ppn = Perceptron(max_iter=40, eta0=0.1, random_state=0)
ppn.fit(x_train_std, y_train)

y_pred = ppn.predict(x_test_std)

# Fit Statistics for Perceptron
FitStatCalculation('Perceptron',ppn, y_test, y_pred, x_test_std)

## Naive Bayes

In [ ]:
# Training the Naive Bayes model on the Training set
GNB = GaussianNB()
GNB.fit(x_train_std, y_train)

# Predicting the Test set results
y_pred = GNB.predict(x_test_std)

FitStatCalculation('Naive Bayes',GNB, y_test, y_pred, x_test_std)

##K-Nearest Neighbors

In [ ]:
# selecting k value based on accuracy score
accuracy_score_K=[]
MaxKNNAccuracy = 0
for i in range(1,17):
  knn_clf=KNeighborsClassifier(n_neighbors=i)
  knn_clf.fit(x_train_std,y_train)
  pred= knn_clf.predict(x_test_std)
  accuracy_score_K.append(accuracy_score(y_test,pred))
MaxK=max(accuracy_score_K)
print(f'Accuracy is highest for K value {accuracy_score_K.index(MaxK)} i.e., {round(MaxK,3)}')

In [ ]:
# KNN model for K=10, and Classification Report
knn_clf=KNeighborsClassifier(n_neighbors=10)
knn_clf.fit(x_train_std,y_train)
y_pred= knn_clf.predict(x_test_std)
print('with k=8')
print('\n')
FitStatCalculation('KNN', knn_clf, y_test, y_pred, x_test_std)

# Model Comparison in terms of Accuracy

In [ ]:
ModelNames = [ "Logistic", "Linear_SVM", "Naive_Bayes", "Xtreme Gradient Boosting", "Gradient Boosting",  "Random Forest", "Decision Tree", "Perceptron", "KNN"]
Classifiers = [lr, svm, GNB,xgb_Cls, gb_Cls, Rnd_clf, Dtree, ppn, knn_clf]
scores = []
for name, clf in zip(ModelNames, Classifiers):
    score = round(clf.score(x_test_std, y_test),3)
    scores.append(score)
Comparison = pd.DataFrame()
Comparison['ModelName'] = ModelNames
Comparison['AccuracyScore'] = scores
Comparison